// Navigation

.navbar {
  height: 80px;
  width: 100%;
  border: 1px solid $nav-border;
  z-index: 2;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px 60px;
    max-width: 1280px;
    margin: 0px auto;
    height: 100%;

    .nav-items {
      font-family: $font-sans;
      display: flex;
      justify-content: space-evenly;
      align-items: stretch;
      a {
        text-decoration: none;
        display: flex;
      }
      .nav-item {
        display: flex;
        position: relative;
        color: $text-secondary;
        padding: 0 2rem;
        justify-content: center;
        align-items: center;
        flex: 1;
        min-width: 84px;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        border-right: 1px solid $nav-border;
        border-left: 1px solid $nav-border;
        margin-left: -1px;

        .content {
          width: max-content;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        span {
          font-size: 1rem;
          font-weight: 500;
          line-height: 120%;
          text-align: center;
        }
        .icon-container {
          display: none;
        }

        .icon {
          width: 24px;
          height: 24px;
          margin: auto;
        }

        &.active {
          background: $light-red;
          color: $monster-red;
          span {
            font-weight: 700;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: $monster-red;
          }
        }
      }
    }
    .social-elements {
      align-items: center;
      justify-content: center;
      display: none;
      column-gap: 8px;
      .social {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background: $lighter-red;
        }
      }
    }
  }
  .logo {
    padding: 16px 60px 16px 0px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: $nav-border;
    }
    span {
      max-width: 120px !important;
    }
  }
}

// Bottom Navigation

.bottom-nav {
  display: none;
  width: 100%;
  align-items: stretch;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: white;
  border-top: 1px solid $nav-border;
  border-bottom: 1px solid $nav-border;
  a {
    flex: 1;
    display: flex;
    text-decoration: none;
    border-right: 1px solid $nav-border;
    &:last-child {
      border-right: none;
    }
  }
  .nav-item {
    display: flex;
    position: relative;
    color: $text-secondary;
    padding: 12px 0.5rem 16px 0.5rem;
    font-family: $font-sans;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    span {
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 120%;
      text-align: center;
      margin-top: 4px;
    }
    .icon-container {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icon {
      width: 24px;
      height: 24px;
      margin: auto;
    }

    &.active {
      background: $light-red;
      color: $monster-red;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $monster-red;
      }
      span {
        font-weight: 700;
      }
      .icon {
        fill: $monster-red;
      }
    }
  }
}

// Slider Nav
.slider-nav,
.mobile-slider-nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid $border;

  .slider-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background: white;
    border: none;
    cursor: pointer;
    border-right: 1px solid $border;
    color: $grey;
    -webkit-tap-highlight-color: transparent;
    svg rect {
      transition: all 0.3s ease;
    }
    &:hover {
      background: $light-red;
      color: $monster-red;
      svg rect,
      svg path {
        fill: $monster-red;
      }
    }
    &:last-child {
      border: none;
    }
    &:disabled {
      color: $dark-grey;
      background: $light-grey;
      cursor: not-allowed;
      svg rect,
      svg path {
        fill: $dark-grey;
      }
    }
    &.right svg {
      transform: rotate(180deg);
    }
    span {
      font-size: 2.5rem;
    }
  }
}

.mobile-slider-nav {
  z-index: 4;
  border: none;
  border-top: 1px solid $grey;
  .slider-button {
    span {
      font-size: 2rem;
    }
  }
}
@media (max-width: 992px) {
  .navbar {
    .container {
      .nav-items {
        .nav-item {
          padding: 0 1.5rem;
          min-width: unset;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 760px) {
  .navbar {
    height: 56px;
    .container {
      padding: 0px 1.5rem;
      .social-elements {
        display: flex;
      }
      .nav-items {
        display: none !important;
      }
    }
    .logo {
      padding: 12px 24px 12px 0px;
      span {
        max-width: 82px !important;
      }
    }
  }
}

@media (max-height: 540px) and (min-width: 560px) {
  .navbar {
    height: 56px;
    .container {
      padding: 0px 1.5rem;
      .social-elements {
        display: flex;
      }
      .nav-items {
        display: none !important;
      }
    }
    .logo {
      padding: 12px 24px 12px 0px;
      span {
        max-width: 82px !important;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .navbar {
    height: 56px;
    border: none;
    border-top: 1px solid $nav-border;
    border-bottom: 1px solid $nav-border;
    .container {
      padding: 0px 1.5rem;
      .nav-items {
        display: none;
      }
      .social-elements {
        display: flex;
        column-gap: 16px;
        .social {
          width: 32px;
          height: 32px;
        }
      }
    }
    .logo {
      padding: 0.75rem 1.5rem 0.75rem 0px;
      span {
        max-width: 82px !important;
      }
      .icon {
        max-width: 82px;
        height: auto;
      }
    }
  }

  .bottom-nav {
    display: flex;
  }
  .slider-nav,
  .mobile-slider-nav {
    .slider-button {
      &:hover {
        background: white;
        color: $grey;
        svg rect,
        svg path {
          fill: $grey;
        }
      }
      &:active {
        background: $light-red;
        color: $monster-red;
        svg rect,
        svg path {
          fill: $monster-red;
        }
      }
    }
  }
}
